<html>    
<head>    
    <meta charset="utf-8">    
    <title>Profile</title>    
</head>    
<font color="#A6ACAF" size="5">    
    <marquee><b><i>MY OWN PROFILE</i></b></marquee>    
</font>    
<body style="background-color:powderblue;"></body>              
    <br /><br /><br /><br />    
    <br />    
    <br />    
    <h1 align="center">    
        <font color="#F0B27A" size="9" >    
            WELCOME TO MY PROFILE PAGE<br/>    
    </font>    
    My name is Gerome Jose L. Ballena    
    </h1>    
    <h3 align="center">    
        <font face="Lato" color="green" size="3">    
          <p>My name is Gerome Jose L. Ballena! A 19 yr. old PUP student of BSCPE 2-4.</p>
          <p>This HTML project is for my course DSA! </p>
          <p>These are some little things about me:</p>
          <p>Nickname: Gerome/Gj</p>
          <p>Age: 19</p>
          <p>Birthday: June 27, 2004</p>
          <p>Likes: Doing things that are comfy and fun such as talking with friends or playing games!</p>
          <p>Dislikes: People who make things worse and uncomfortable</p> 
        </font>    
    <br /><br /><br /><br /><br /><br/><br/><br/><br/>    
    <hr width="1500px">    
    <center>    
    <b>      
    </a><br/><br/>    
            <font color="#FF0000">Reference: https://www.c-sharpcorner.com/article/create-a-simple-webpage-using-html/</font>    
    </font>    
    </b>    
    </center>    
</body>    
</html>   