<html>    
<head>    
    <meta charset="utf-8">    
    <title>www.kaye_profile.com</title>    
</head>    
<font color="#A6ACAF" size="7">    
    <marquee><b><i>MY OWN PROFILE</i></b></marquee>    
</font>    
<body background="C:\Users\Jerrie\Desktop\HTML\image 3.jpg" link="white" alink="blue" vlink="#F8F8FF" >
                               
        </font>    
    <br /><br /><br /><br />    
    <br />    
    <br />    
    <h1 align="center">    
        <font color="#F0B27A" size="9" >    
            WELCOME TO MY PROFILE PAGE<br/>    
    </font>    
    My name is Jean Kaye Gallogo     
    </h1>    
    <h3 align="center">    
        <font face="Lato" color="purple" size="3">    
            Hello! I am Jean Kaye Gallogo. A 19 year old PUP sophomore student from section 4 taking BSCPE.
	 <h2 align="center"> 
	This HTML project is for my course DSA!
	<h2 align="center"> 
	These are some things about me:
	<h2 align="center"> 
	Nickname: Kaye/KiKi
	 <h2 align="center"> 
	Age: 19
	 <h2 align="center"> 
	Birthday: April 18, 2004
	 <h2 align="center"> 
	Birthplace: Dimiao, Bohol
	 <h2 align="center"> 
	Hobbies: Reading, Watching movies and Korean dramas and series, Playing chess, Listening to music
	 <h2 align="center"> 
	Likes: sunset, moon, sea, miniso plushies, cats, dogs, books, paintings, going to museums
	 <h2 align="center"> 
	Favorite Color: Purple
	 <h2 align="center"> 
	Favorite Bible Verse:
	 <h2 align="center"> 
	For you created my inmost being;
    you knit me together in my mother’s womb.
	I praise you because I am fearfully and wonderfully made;
    your works are wonderful,
    I know that full well.
	My frame was not hidden from you
    when I was made in the secret place,
    when I was woven together in the depths of the earth.
	Your eyes saw my unformed body;
    all the days ordained for me were written in your book
    before one of them came to be.
	<h2 align="center">
	Motto:
	 <h2 align="center"> 
	Viva La Vida
        </font>    
    <br /><br /><br /><br /><br /><br/><br/><br/><br/>    
    <hr width="1500px">    
    <center>    
    <b>    
    <font face="cinzel" size="5">   
      
    </a><br/><br/>    
            <font color="#FF0000">Nice to meet you!</font>    
    </font>    
    </b>    
    </center>    
</body>    
</html>    